<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Movies List</h2>

<hr>
<a href="/movies/new"  class="button"> Add a new movie </a>
<hr>


<div>
{{#each movies}}
  <h3>
    {{title}}
  </h3>

<a href="/movies/{{_id}}"  class="button"> See movie details</a>
<a href="/movies/{{_id}}/edit"  class="button"> Edit movie's page</a>


<form action="/movies/{{_id}}/delete" method="POST">
<button type="submit"  class="button">Delete</button>
</form>

{{/each}}


</div>

