<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>
  {{movie.title}}
</h1>

<hr>

<h2>
Genre: {{movie.genre}}
</h2>

<h3>
Plot: {{movie.plot}}
</h3>


<!--
<p>
  Actor: {{movie.celebrity.name}}
</p>

-->